.auth {
    width: calc(100% - 32px);
    max-width: 1230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 500px;
    gap: 10px;
}

.auth-parent {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 60%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 650px) {
    .auth {
        grid-template-rows: 80px 400px;
    }

    .auth-parent {
        width: 80%;
    }
}

.auth__content {
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 300px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth__content p {
    font-size: 24px;
    margin-bottom: 40px;
}

.auth__content a {
    font-size: 16px;
    text-decoration: none;
    background-color: #387ADF;
    color: #F2F2F2;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .auth-parent {
        width: 90%;
    }

    .auth__content p {
        font-size: 18px;
    }
}
