.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    gap: 10px;
}

.content__search {
    grid-column: 2/3;
    grid-row: 1/2;
    width: calc(100% - 16px);
    height: 100%;
    margin-top: 24px;
}

.search__form {
    width: 100%;
    height: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
}

.search__form--button,
.search__form--select,
.search__form--input {
    height: 80%;
    border-radius: 4px;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 16px;
    padding: 0 10px;
    outline: none;
}

.search__form span {
    padding-left: 10px;
    font-size: 32px;
    color: #EEE;
    font-weight: lighter;
}

.search__form--input {
    flex-grow: 1;
}

.search__form--select {
    appearance: none;
    width: 20%;
    display: inline-block;
    background: url('/images/down.png') no-repeat right center;
}

#search {
    color: #DDD;
    font-size: 18px;
}

.card {
    width: calc(100% - 32px);
    max-width: 1230px;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 24px;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.practice__card {
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background-color: whitesmoke;
}

img {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
}

.card__article {
    width: calc(100% - 32px);
    margin: auto;
}

.card__ttl {
    margin-top: 20px;
    font-size: 20px;
}

.card__tag {
    padding: 14px 0;
    font-size: 14px;
}

.card__button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card__button--link {
    background-color: #387ADF;
    color: #F2F2F2;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-weight: bold;
}

#heart {
    font-size: 32px;
    cursor: pointer;
}

.heart_false i {
    color: #DDD;
}

.heart_true i {
    color: #FF0000;
}

.error__message {
    font-size: 18px;
    color: #FF0000;
    text-align: right;
    margin-right: 40px;
}

@media screen and (max-width: 1000px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content__search {
        grid-column: 2/4;
    }

    .card {
        grid-column: 1/4;
    }

    #heart {
        font-size: 24px;
    }

    .card__button--link {
        font-size: 12px;
        font-weight: normal;
    }
}

@media screen and (max-width: 768px) {

    .search__form--button,
    .search__form--select,
    .search__form--input {
        font-size: 12px;
        padding: 0 4px;
    }

    .search__form span {
        padding-left: 4px;
        font-size: 24px;
    }

    .card__ttl {
        margin-top: 10px;
        font-size: 16px;
    }

    .card__tag {
        padding: 10px 0;
        font-size: 10px;
    }

    .card__button {
        margin-bottom: 10px;
    }

    .card__button--link {
        padding: 4px 8px;
    }
}

@media screen and (max-width: 650px) {
    .card-content {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4px;
    }

    .card__article {
        width: calc(100% - 16px);
    }

    .search__form--select {
        width: 30%;
        background: url('/') no-repeat right center;
    }

    .content__search {
        width: calc(100% - 8px);
    }

    .search__form--input {
        width: 20%;
    }
}

@media screen and (max-width: 450px) {
    .card__article {
        width: calc(100% - 8px);
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }

    .content__search {
        grid-column: 2/3;
    }

    .card-content {
        grid-template-columns: 1fr 1fr;
    }

    .search__form--button,
    .search__form--select,
    .search__form--input {
        font-size: 8px;
    }
}
